<connectionStrings>
  <add name="LocomotionLocalDB"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=(localdb)\v11.0;&#xD;&#xA;Integrated Security=True;&#xD;&#xA;Connect Timeout=15;&#xD;&#xA;Encrypt=False;&#xD;&#xA;TrustServerCertificate=False" />
</connectionStrings>