<connectionStrings>
	<add name="koaaladb"
		 providerName="System.Data.SqlClient"
		 connectionString="server=koaaladb.c7v1hrkwxvoj.us-east-1.rds.amazonaws.com,1433;user=katerilett;database=koaaladb;port=1433;password=koaalaclinic" />
</connectionStrings>

<!--connectionString="Data source=koaaladb.c7v1hrkwxvoj.us-east-1.rds.amazonaws.com,1433;Initial Catalog=koaaladb;User Id=katerilett;password=koaalaclinic"/>-->