<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	
<!--	<connectionStrings>
		
    <add name="LocomotionLocalDB"
		 connectionString="Data Source=(localdb)\v11.0;&#xD;&#xA;Integrated Security=True;&#xD;&#xA;Connect Timeout=15;&#xD;&#xA;Encrypt=False;&#xD;&#xA;TrustServerCertificate=False" /> 
		
		<add name="LocomotionLocalDB"
			connectionString="Data source=koaaladb.c7v1hrkwxvoj.us-east-1.rds.amazonaws.com,1433;Initial Catalog=koaaladb;User Id=katerilett;password=koaalaclinic"/>
		</connectionStrings> -->
	<connectionStrings>
		<add name="mykoaaladb"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=koaaladb.c7v1hrkwxvoj.us-east-1.rds.amazonaws.com,1433;Initial Catalog=mykoaaladb;User ID=katerilett;Password=koaalaclinic" />
	</connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>


</configuration>